@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

/* Estilos para los encabezados */
h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #007bff;
}

/* Estilos para los enlaces */
a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}